<div class="backdrop" (click)="closeButton.emit()"></div>

<div class="main">
  <button type="button" class="btn-close close-button" aria-label="Close" (click)="closeButton.emit()"></button>

  <p>Вы уверены, что хотите удалить сообщение {{message.username}} от {{getDateTime(message.datetime)}}</p>
  <button type="button" class="btn btn-light deny-button" (click)="closeButton.emit()">Отмена</button>
  <button type="button" class="btn btn-danger submit-button" (click)="agreeButton.emit()">Удалить</button>
</div>
